<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JSONLinter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <JSONLinter.Properties.Settings>
            <setting name="validForeground" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="validBackground" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="invalidForeground" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="invalidBackground" serializeAs="String">
                <value>DarkRed</value>
            </setting>
            <setting name="CommentLine" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="String" serializeAs="String">
                <value>183, 73, 73</value>
            </setting>
            <setting name="Number" serializeAs="String">
                <value>37, 150, 109</value>
            </setting>
            <setting name="Operator" serializeAs="String">
                <value>DarkGray</value>
            </setting>
            <setting name="Boolean" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="DefaultIntent" serializeAs="String">
                <value>4</value>
            </setting>
        </JSONLinter.Properties.Settings>
    </userSettings>
</configuration>